.docs-content-container {
    background-color: #F9F9F9;
    border-top: 1px solid #E0E0E0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.docs-content {
    background-color: white;
    border: 1px solid #E0E0E0;
    padding: 30px;
    border-radius: 4px;
}

.docs-sidebar {
    text-align: right;
    padding-right: 45px;
}
.docs-sidebar a {
    display: inline-block;
    color: #aaa;
    margin-bottom: 2px;
}
.docs-sidebar .nav-heading {
    margin-bottom: 10px;
}
.resources-nav {
    margin-top: 45px;
}
